<%= form_tag enrolled_email_classroom_messages_path do %>
  <%= hidden_field_tag "classroom_id", classroom.id %>

  <%= label_tag "Seu email" %>
  <%= text_field_tag :email, nil, class: "full-width" %>

  <div class="text-are-full-width">
    <%= label_tag "Mensagem" %>
    <%= text_area_tag :message, nil, rows: 7 %>
  </div>

  <%= submit_tag t(:send), class: "btn btn-primary" %>
<% end %>