<%= form_tag response_to_message_path(showing_message) do %>
  <%= render 'shared/error_messages', object: response %>

  <%= hidden_field_tag "showing_message_id", showing_message.id %>
  <h4><%= showing_message.sender.name %></h4>
  <%= showing_message.message %>
  <hr>
  <div class="text-are-full-width">
    <%= label_tag t(:respond) %>
    <%= text_area_tag :message, response.message, rows: 5 %>
  </div>
  <%= link_to t(:back), :back %>
  <div class="pull-right">
    <% if defined? classroom_messageable and classroom_messageable %>
      <%= hidden_field_tag "messageable_group_id", @classroom_messageable.id %>
      <%= hidden_field_tag "messageable_group_type", @classroom_messageable.class.to_s %>
      <%= submit_tag t(:respond_to_classroom), name: :response_to_messageable_group, class: "btn btn-primary" %>
    <% end %>
    <%= submit_tag t(:respond), class: "btn btn-primary" %>
  </div>
<% end %>