<li>
  <div class="row-fluid ">
      <div class="span4">
        <h4><%= enrolled_email.name %></h4>
      </div>
      <div class="span4">
        <%= enrolled_email.email %><br>
        <%= link_to t(:send_message), message_to_messageable_path(enrolled_email) %>
      </div>
      <div class="span3 pull-right">
        <% if enrolled_email.confirmed %>
          <%= link_to t(:edit), edit_enrolled_email_path(enrolled_email) %>        
        <% else %>
          <%= link_to t(:accept), accept_enrolled_email_path(enrolled_email), :method => :put, style: "color: green" %>
        <% end %>
        | <%= link_to t(:remove), enrolled_email, style: "color: red", method: :delete %>
    </div>
  </div>
  <hr>
</li>