<%= form_for @classroom || Classroom.new do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "full-width" %>

  <%= f.label :slug %>
  <div class="form-inline">
    <%= root_url(:only_path => false) %><%= current_teacher.index.slug %>/<%= f.text_field :slug %>
  </div>

  <div class="text-are-full-width">
    <%= label_tag t(:student_email_list) %>
    <%= text_area_tag :student_email_list, nil, rows: 5, placeholder:"exemplo@email.com, outro@gmail.com, mais_um@servidor.la" %>
  </div>

  <%= link_to t(:back), :back %>
  <%= f.submit t(:send), class: "btn btn-primary pull-right" %>
<% end %>
