<% content_for :form_content do %>
  <%= form_tag enrolled_email_message_classroom_path do %>
    <%= hidden_field_tag :enrolled_email_id, @message.sender.id %>

    <h4>De: <%= @message.sender.name %></h4>
    <h4>Para: <%= @classroom.name %></h4>
    <%= @message.message %>
    <hr>
    <div class="text-are-full-width">
      <%= label_tag t(:response) %>
      <%= text_area_tag :response, nil, rows: 5 %>
    </div>
    <%= link_to "voltar", :back %>
    <div class="pull-right">
      <%= submit_tag "reponder", name: :answer, class: "btn btn-primary" %>
      <%= submit_tag "reponder para todos da turma", name: :answer_to_all, confirm: t(:confirm_answer_all), class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
<%= render "shared/base_form" %>