<% content_for :form_content do %>  
  <h2>Esqueceu a sua senha?</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.submit "Me envie as instruções para resetar a minha senha" %></div>
  <% end %>

  <%= render "teachers/shared/links" %>
<% end %>
<%= render "shared/base_form" %>
