<% content_for :content do %>
  <div class="span4">
    <article class="blog-post">
      <header class="blog-header">
        <h2>
          Se inscreva nesta turma
        </h2>
      </header>
      <%= render "enrolled_emails/enrolled_email_form" %>
    </article>
  </div>
  <div class="span5">
    <article class="blog-post">
      <header class="blog-header">
        <h2>
          Pergunte ao professor
        </h2>
      </header>
      <%= form_tag send_from_enrolled_email_messages_path(@classroom) do %>
        <%= hidden_field_tag "classroom_id", @classroom.id %>

        <%= label_tag "Seu email" %>
        <%= text_field_tag :email, nil, class: "full-width" %>

        <div class="text-are-full-width">
          <%= label_tag "Mensagem" %>
          <%= text_area_tag :message, nil, rows: 7 %>
        </div>

        <%= submit_tag t(:send), class: "btn btn-primary" %>
      <% end %>
    </article>
  </div>
<% end %>

<%= render partial: "classroom_show/base_classroom_page" %>
