<section class="section alt" id="promo">
  <div class="container">
    <div class="modal modal-login">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
                    :html => { class: "form-horizontal", id: "login-form" }) do |f| %>
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
          <h3>Acesso do Professor</h3>
        </div>
        <div class="modal-body">
          <div id="messages"></div>
          <div class="control-group">
            <%= f.label :email, class: "control-label" %>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">
                  <i class="icon-user"></i>
                </span>
                <%= f.email_field :email, placeholder: "email", id: "email" %>
                <!-- <input id="email" placeholder="email" type="text" /> -->
              </div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :password, class: "control-label" %>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">
                  <i class="icon-lock"></i>
                </span>
                <%= f.password_field :password, id: "password", placeholder: "senha" %>
                <!-- <input id="password" placeholder="password" type="password" /> -->
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Sign in", class: "btn btn-primary"  %>
        </div>
      <% end %>
    </div>
    <div class="pull-center">
      <%= render "teachers/shared/links" %>
    </div>
  </div>
</section>